{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{food.img.url}}" width="300" height="300">
              </div>
        <div class="col-md-6">
            <h6>{{food.name}}</h6>
            <h6>{{food.desc}}</h6>
            <h6>{{food.price}}</h6>

            <a class="btn btn-warning" href="{% url 'foodapp:update' food.id %}"> update </a><br>
            <a class="btn btn-danger" href="{% url 'foodapp:delete' food.id %}"> delete </a><br>
            </div>
    </div>
</div>
{% endblock %}
